@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
}


html {
  background-color: #FBFCF5;
  font-family: 'Source Sans Pro', sans-serif;

}

#body {
  background-color: #FBFCF5;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
  background-color: #FBFCF5;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FBFCF5;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.App-link {
  color: #61dafb;
}

.nav-link:hover {
  color: #ca9c8b !important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Source Sans Pro', sans-serif;
  color: #B56C54 !important;
  font-size: 1.5rem;
  background-color: transparent;
}

.hero-image {
  height: 70vh;
  width: 100vw;
}

.covid-notice {
  background-color: #282c34;
  color: white;
  font-size: 2vh;

}

.text-main {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: justify;
  background-color: #faeee8;
  /* padding-right:none; */
  color: rgb(122, 107, 73);



}

.background-hero {
  height: 85 !important;
  width: 100%;
  position: relative;

}

.bottomStyle {
  margin-bottom: 9vh;
}

.salon {
  border-top: 2px solid #4C5157;
  color: #4C5157;
  font-size: 1.8rem;
  /* background-color: #FBFCF5; */
}

.cactusLogo {
  height: 40vh;
  width: 20vh;
}

.salon-text {
  padding-top: 6rem;
}

.nav-text {
  font-size: 4rem;
}

.navbar-brand {
  margin-right: none;
}




.brand-logo {
  height: 12vh
}

.card {

  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FBFCF5 !important;
  border: none !important;
}

.card-footer {
  font-family: 'Source Sans Pro', sans-serif;
  border: none !important;
  background-color: #FBFCF5 !important;
  font-size: 1.8rem;
}



a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #C68D7A;
}

a:hover {
  font-size: 1.9rem;
  text-decoration: none;
  color: #C68D7A !important;
}

.instaLogo {
  height: 6vh;


}

.form-control {
  border: 1px solid #c6b2ab !important;
}

.btn-outline-secondary {
  border-color: #AD5C40 !important;
  color: #AD5C40 !important;
}

.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #AD5C40 !important;
  border-color: #AD5C40 !important;
}

.link-custom:hover {
  color: #C68D7A;
}

.form-class {
  color: #B56C54;
}

.StylistCheckBox {
  font-size: 1.5rem;
  padding-right: .5rem;
}

.fieldset {
  /* border: 2px solid #C68D7A; */
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  content: 'Select a picture';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}